<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Subject">Aanvraag aansluiting {aansluiting.naam}</f:section>
<h2>Verzoek om aansluiting</h2>
<table width="600" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="600" valign="top" align="left">Voornaam</td>
    <td width="600" valign="top" align="left">
       <table cellspacing="0" border="0">
         <tr>
           <td>{aansluiting.voornaam}</td>
         </tr>
       </table>
    </td>
  </tr>
  <tr>
    <td width="600" valign="top" align="left">Achternaam</td>
    <td width="600" valign="top" align="left">
      <table cellspacing="0" border="0">
        <tr>
          <td>{aansluiting.achternaam}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="600" valign="top" align="left">Geboortedatum</td>
    <td width="600" valign="top" align="left">
      <table cellspacing="0" border="0">
        <tr>
          <td>{aansluiting.geboortedatum}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="600" valign="top" align="left">Postcode</td>
    <td width="600" valign="top" align="left">
      <table cellspacing="0" border="0">
        <tr>
          <td>{aansluiting.postcode}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="600" valign="top" align="left">Huisnummer</td>
    <td width="600" valign="top" align="left">
      <table cellspacing="0" border="0">
        <tr>
          <td>{aansluiting.huisnummer}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="600" valign="top" align="left">Straatnaam</td>
    <td width="600" valign="top" align="left">
      <table cellspacing="0" border="0">
        <tr>
          <td>{aansluiting.straatnaam}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="600" valign="top" align="left">Woonplaats</td>
    <td width="600" valign="top" align="left">
      <table cellspacing="0" border="0">
        <tr>
          <td>{aansluiting.woonplaats}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="600" valign="top" align="left">Telefoonnummer</td>
    <td width="600" valign="top" align="left">
      <table cellspacing="0" border="0">
        <tr>
          <td>{aansluiting.telefoonnummer}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="600" valign="top" align="left">Mobiel nummer</td>
    <td width="600" valign="top" align="left">
      <table cellspacing="0" border="0">
        <tr>
          <td>{aansluiting.mobieltelnummer}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="600" valign="top" align="left">E-mailadres</td>
    <td width="600" valign="top" align="left">
      <table cellspacing="0" border="0">
        <tr>
          <td>{aansluiting.emailadres}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="600" valign="top" align="left">Naam partner die zich ook wil aansluiten</td>
    <td width="600" valign="top" align="left">
      <table cellspacing="0" border="0">
        <tr>
          <td>{aansluiting.partnernaam}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="600" valign="top" align="left">Namen kinderen die meekomen</td>
    <td width="600" valign="top" align="left">
      <table cellspacing="0" border="0">
        <tr>
          <td>{aansluiting.namenkinderen}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</html>