<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Subject">Bevestiging aanvraag {typerequest}</f:section>
<p>Beste {voornaam},</p>
<p><f:if condition="{{typerequest}=='lidmaatschap'">Bedankt voor je aanvraag voor het lidmaatschap van de Evangelische Gemeente Parousia in Zoetermeer.</f:if>
<f:if condition="{{typerequest}=='doop'">Bedankt voor je aan aanvraag om je te laten dopen in onze Evangelische Gemeente Parousia te Zoetermeer.</f:if>
<f:if condition="{{typerequest}=='aansluiting'">Bedankt voor je aanvraag om je aan te sluiten bij onze Evangelische Gemeente Parousia te Zoetermeer.</f:if>
</p>
Er zal zo spoedig mogelijk contact met je opgenomen worden voor een afspraak.
<p>
</p>
<p><br>Met vriendelijke groet,<br>{namesender}</p>
</html>