<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<div class="viewaanvraag-form">
		<f:if condition="{typerequest}=='aansluiting'">
			<f:then>
			<h5 ><f:translate key="aanvraag.title" /> <f:format.date format="%d-%m-%Y" date="{aanvraag.crdate}" /></h5>
			<div class="row">
				<div class="col-md-3 mr-2"> 
					<label for="person-firstname" class="font-weight-bold"><f:translate key="persoon.voornaam" /></label>
				</div>
				<div id="person-firstname" class="col">{aanvraag.voornaam} </div>
			</div>
			<div class="row">
				<div class="col-md-3 mr-2"> 
					<label for="aanvraag-lastname" class="font-weight-bold"><f:translate key="persoon.achternaam" /></label>
				</div>
				<div id="aanvraag-lastname" class="col">{aanvraag.achternaam}</div>
			</div>
			<div class="row">
				<div class="col-md-3 mr-2"> 
					<label for="aanvraag-birthdate" class="font-weight-bold"><f:translate key="persoon.geboortedatum" /></label>
				</div>
				<div id="aanvraag-birthdate" class="col"><f:format.date format="%d-%m-%Y" date="{aanvraag.geboortedatum}" /></div>
			</div>
			<div class="row">
				<div class="col-md-3 mr-2"> 
					<label for="aanvraag-zipcode" class="font-weight-bold"><f:translate key="adres.postcode" /></label>
				</div>
				<div id="aanvraag-zipcode" class="col">{aanvraag.postcode}</div>
			</div>
			<div class="row">
				<div class="col-md-3 mr-2"> 
					<label for="aanvraag-housenbr" class="font-weight-bold"><f:translate key="adres.huisnummer" /></label>
				</div>
				<div id="aanvraag-housenbr" class="col">{aanvraag.huisnummer}</div>
			</div>
			<div class="row">
				<div class="col-md-3 mr-2"> 
					<label for="aanvraag-streetname" class="font-weight-bold"><f:translate key="adres.straatnaam" /></label>
				</div>
				<div id="aanvraag-streetname" class="col">{aanvraag.straatnaam}</div>
			</div>
			<div class="row">
				<div class="col-md-3 mr-2"> 
					<label for="aanvraag-city" class="font-weight-bold"><f:translate key="adres.woonplaats" /></label>
				</div>
				<div id="aanvraag-city" class="col">{aanvraag.woonplaats}</div>
			</div>
			<div class="row">
				<div class="col-md-3 mr-2"> 
					<label for="aanvraag-telephone" class="font-weight-bold"><f:translate key="adres.telefoon" /></label>
				</div>
				<div id="aanvraag-telephone" class="col">{aanvraag.telefoonnummer}</div>
			</div>
			<div class="row">
				<div class="col-md-3 mr-2"> 
					<label for="aanvraag-cellphone" class="font-weight-bold"><f:translate key="persoon.mobiel" /></label>
				</div>
				<div id="aanvraag-cellphone" class="col">{aanvraag.mobieltelnummer}</div>
			</div>
			<div class="row">
				<div class="col-md-3 mr-2"> 
					<label for="aanvraag-email" class="font-weight-bold"><f:translate key="persoon.email" /></label>
				</div>
				<div id="aanvraag-email" class="col">{aanvraag.emailadres}</div>
			</div>		
			<div class="row">
				<div class="col-md-3 mr-2"> 
					<label for="aanvraag-partner" class="font-weight-bold"><f:translate key="aansluiting.partner" /></label>
				</div>
				<div id="aanvraag-partner" class="col">{aanvraag.partnernaam}</div>
			</div>
			<div class="row">
				<div class="col-md-3 mr-2"> 
					<label for="aanvraag-children" class="font-weight-bold"><f:translate key="aansluiting.kinderen" /></label>
				</div>
				<div id="aanvraag-children" class="col">{aanvraag.namenkinderen}</div>
			</div>
			</f:then>
		</f:if>
		<f:if condition="{typerequest}=='doop' || {typerequest}=='lidmaatschap'" >
			<f:then>
				<f:if condition="{aanvraag.typerequest}=='doop'"><h5 ><f:translate key="aanvraag.doop" /> <f:format.date format="%d-%m-%Y" date="{aanvraag.datumaanvraag}" /></h5></f:if>
				<f:if condition="{aanvraag.typerequest}=='lidmaatschap'"><h5 ><f:translate key="aanvraag.membership" /> <f:format.date format="%d-%m-%Y" date="{aanvraag.datumaanvraag}" /></h5></f:if>
				<div><f:translate key="aanvraag.betreft" /></div>
				<table>
				<tr>
					<td style="padding:10px"><strong>{person.naam}</strong></td>
					<td style="padding:10px"><i>geboortedatum</i>: <f:format.date format="%d-%m-%Y">{person.geboortedatum}</f:format.date></td>
					<f:if condition="{aanvraag.typerequest}=='lidmaatschap'"><td style="padding:10px"><i>gedoopt op</i>: <f:format.date format="%d-%m-%Y">{person.doopdatum}</f:format.date></td></f:if>
					<td style="padding:10px"><i>bezoeker sinds</i>: <f:format.date format="%d-%m-%Y">{person.invoerdatum}</f:format.date></td>
					
				</tr>
				<f:if condition="{partner}">
				<tr>
					<td style="padding:10px"><strong>{partner.naam}</strong></td>
					<td style="padding:10px"><i>geboortedatum</i>: <f:format.date format="%d-%m-%Y">{partner.geboortedatum}</f:format.date></td>
					<f:if condition="{aanvraag.typerequest}=='lidmaatschap'"><td style="padding:10px"><i>gedoopt op</i>: <f:format.date format="%d-%m-%Y">{partner.doopdatum}</f:format.date></td></f:if>
					<td style="padding:10px"><i>bezoeker sinds</i>: <f:format.date format="%d-%m-%Y">{partner.invoerdatum}</f:format.date></td>
				</tr>
				</f:if>
				</table>
			</f:then>
		</f:if>
		<f:form action="saveAanvraag" name="search">
		<f:form.hidden id="typerequest" name="typerequest" value="{typerequest}"/>
		<f:if condition="{typerequest}=='aansluiting'"><f:form.hidden id="f_uid" name="uid" value="{aanvraag.uid}"/></f:if>
		<f:if condition="{typerequest}!='aansluiting'"><f:form.hidden id="f_uid" name="uid" value="{aanvraag.uidpersoon}"/></f:if>
		<div class="row mt-4">
			<div class="col-md-3 mr-2"> 
				<label for="bezoeker" class="font-weight-bold"><f:translate key="aanvraag.visitor" /></label>
			</div>
			<div>
				<f:form.textfield id="persoonbezoeker" class="selectperson" value="{aanvraag.bezoekers}" size="40" additionalAttributes="{autocomplete: 'off', role= 'bezoeker'}"  />				
				<f:form.hidden name="id_bezoeker" id="idbezoeker" value="{aanvraag.id_bezoeker}"/>
				<f:form.hidden name="namesbezoeker" id="namesbezoeker" value='<f:format.case mode="lower">{aanvraag.bezoekers}</f:format.case>'/>
					<div class="zoekselect" id="bezoekerselectdiv">
					    	<ul id="bezoekerselectul"  class="selectul">
						</ul>
					</div>
			</div>
		</div>		
	</div>

	<div class="btn-toolbar"  role="toolbar">
		<f:if condition="{writepermission}">
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.button class="btn btn-primary mr-1" title="Wijzigingen opslaan">{f:translate(key:"personchangesave_button_label")}</f:form.button>
		</f:if>
		</f:form>
		<f:if condition="{deleteble}">
			<f:form action="deleteAanvraag" name="search">
			<f:form.hidden id="typerequest" name="typerequest" value="{typerequest}"/>
			<f:if condition="{typerequest}=='aansluiting'"><f:form.hidden id="f_uid" name="uid" value="{aanvraag.uid}"/></f:if>
			<f:if condition="{typerequest}!='aansluiting'"><f:form.hidden id="f_uid" name="uid" value="{aanvraag.uidpersoon}"/></f:if>
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.button class="btn btn-primary mr-1" title="Aanvraag verwijderen">{f:translate(key:"delete_button_label")}</f:form.button>
			</f:form>
		</f:if>
		<f:form action="selectedListAanvragen" name="search" id="returnForm" >
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.submit class="btn btn-primary mr-1" value="{f:translate(key:'return_button_label')}"/> 
		</f:form>
	</div>
<f:render partial="Persoon/SearchPersonRole" arguments="{file: file}" />
</f:section>
</html>
