<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<div class="viewupdatelog-form">
		<h5 ><f:translate key="updatelog.title" /> <f:format.date format="%d-%m-%Y %H:%M:%S" date="{updatelog.date_change}" /></h5>
		<div class="row">
			<div class="col-md-3 mr-2"> 
				<label for="person-name" class="font-weight-bold"><f:translate key="persoon.naam" /></label>
			</div>
			<div id="person-name" class="col">{updatelog.naam} </div>
		</div>
		<div class="row">
			<div class="col-md-3 mr-2"> 
				<label for="updatelog-birthdate" class="font-weight-bold"><f:translate key="persoon.geboortedatum" /></label>
			</div>
			<div id="updatelog-birthdate" class="col"><f:if condition="{updatelog.geboortedatum}&&{updatelog.geboortedatum}!='0000-00-00'"><f:format.date format="%d-%m-%Y" date="{updatelog.geboortedatum}" /></f:if></div>
		</div>
		
		<div class="row mt-2">
		    <div class="col text-wrap  text-left"></div>
		    <div class="col text-wrap font-weight-bold text-left">{f:translate(key:'old')}</div>				
			<div class="col text-wrap text-left font-weight-bold">{f:translate(key:'new')}</div>
		</div>
		<f:for each="{updatelog.changedvalues}" as="changedvalue" key="label" iteration="updatelogindex">
			<div class="row {f:if(condition:updatelogindex.isEven,then:'alternate-row')} ">
			    <div class="col text-wrap  text-left"><f:format.case mode="capital">{label}</f:format.case></div>
			    <div class="col text-wrap text-left">{changedvalue.old}</div>
			    <div class="col text-wrap  text-left">{changedvalue.new}</div>
			</div>
		</f:for>
	</div>
	</div>

	<div class="btn-toolbar mt-2"  role="toolbar">
		<f:form action="selectedListUpdatelogs" name="search" id="returnForm" >
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.submit class="btn btn-primary mr-1" value="{f:translate(key:'return_button_label')}"/> 
		</f:form>
	</div>
	

</f:section>
</html>
