<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SelectedList.html
-->

<f:section name="content">
	<f:if condition="{person}">
		<f:form action="detail" object="{person}" name="person" id="saveForm">   
		<f:form.hidden name="subaction" value="save"/>
		<f:form.hidden id="stack" name="stack" value="{stack}"/>						
		<f:form.hidden id="idperson" value="{person.personUid}"/>
		<f:form.hidden id="postcodeorg" property="postcodeorg"/>
		<f:form.hidden id="huisnummerorg" property="huisnummerorg"/>
		<f:form.hidden id="woonplaatsorg" property="woonplaatsorg"/>
		<f:form.hidden property="straatnaamorg"/>
		<f:form.hidden property="telefoonorg"/>
		<f:form.hidden property="partnerorg"/>
		<f:form.hidden property="burgerlijkeStaatorg"/>
		<f:form.hidden property="personUid"/>
		<f:form.hidden property="idAdres"/>
		<script>
		$ = jQuery.noConflict();
		var partneraction="index.php?eID=selectperson";
		var idperson="{person.personUid}";
		//var pcaction="{extPath}Classes/Hooks/zoekpostcode.php";
		var pcaction="index.php?eID=zoekpostcode";
		</script>
		<TABLE style="width:100%" class="tx-churchadmin-pi3" cellspacing="0" cellpadding="0">
		<TR><td>
			<table>
			<tr><td class="labelchurchadmin"><label for="persoon-achternaam"><f:translate key="persoon.achternaam" />:</label></td>
			<td><f:form.textfield id="persoon-achternaam" property="achternaam"  required="true" size="40" maxlength="50" style="text-transform: capitalize;" /></td>
			<td  class="labelchurchadmin" align="left"><label for="persoon-tussenvoegsel"><f:translate key="persoon.tussenvoegsel" />:</label></td>
			<td><f:form.textfield id="persoon-tussenvoegsel" property="tussenvoegsel"  class="form-control" size="10" maxlength="10" /></td>
			</tr>
			<tr><td class="labelchurchadmin"><label for="persoon-voornaam"><f:translate key="persoon.voornaam" />:</label></td>
			<td><f:form.textfield id="persoon-voornaam" property="voornamen" additionalAttributes="{autocomplete: 'off'}" size="40" maxlength="32" style="text-transform: capitalize;" /></td>
			<td  class="labelchurchadmin" align="left"><label for="persoon-roepnaam"><f:translate key="persoon.roepnaam" />:</label></td>
			<td><f:form.textfield id="persoon-roepnaam" property="roepnaam" additionalAttributes="{autocomplete: 'off'}" class="form-control" style="text-transform: capitalize;" size="20" maxlength="20" /></td>
			</tr>
			<tr>
			<td  class="labelchurchadmin" align="left"><label for="persoon-geslacht"><f:translate key="persoon.geslacht" />:</label></td>
			<td><f:form.radio id="persoon-geslacht" property="geslacht"  value="man" style="width:20px"  />Man<f:form.radio id="persoon-geslacht" property="geslacht"  value="vrouw" style="width:20px" />vrouw</td>
			</tr>
			<tr><td class="labelchurchadmin"><label for="persoon-postcode"><f:translate key="adres.postcode" />:</label></td>
			<td><f:form.textfield id="persoon-postcode" class="changeaddress" property="postcode" size="10" maxlength="10" additionalAttributes="{onchange: 'getstreetcity(this)', role= 'postcode'}" /></td>
			<td  class="labelchurchadmin" align="left"><label for="persoon-huisnummer"><f:translate key="adres.huisnummer" />:</label></td>
			<td><f:form.textfield id="persoon-huisnummer" class="changeaddress" property="huisnummer"  size="20" maxlength="20" additionalAttributes="{onchange: 'getstreetcity(this)', role= 'huisnummer'}" /></td>
			</tr>
			<tr><td class="labelchurchadmin"><label for="persoon-straatnaam"><f:translate key="adres.straatnaam" />:</label></td>
			<td><f:form.textfield id="persoon-straatnaam" property="straatnaam" size="36" maxlength="80"  required="true" additionalAttributes="{role= 'straatnaam'}"/></td>
			<td  class="labelchurchadmin" align="left"><label for="persoon-woonplaats"><f:translate key="adres.woonplaats" />:</label></td>
			<td><f:form.textfield id="persoon-woonplaats" property="woonplaats"  required="true" class="form-control" size="36" maxlength="40"  additionalAttributes="{role= 'woonplaats'}" /></td>
			</tr>
			<tr style="display:none" id="huisgenoten" class="warningmessage"><td colspan="4">
			<f:form.checkbox id="persoon-moveall" property="moveall" style="width:20px;" value="1" checked="{person.moveall}"/><f:translate key="adres.moveall" />: {person.huisgenoten}</td></tr> 
			<tr><td class="labelchurchadmin"><label for="persoon-land"><f:translate key="adres.land" />:</label></td>
			<td><f:form.textfield id="persoon-land" property="land" size="36" maxlength="40"  /></td>
			<td colspan="2"><f:form.checkbox id="persoon-adrestonen" property="adresOpWebsite" style="width:20px;" value="adres tonen" checked="{person.adresOpWebsite}=='adres tonen'"/><f:translate key="adres.adrestonen" /></td>
			</tr>
			<tr><td class="labelchurchadmin"><label for="persoon-telefoon"><f:translate key="adres.telefoon" />:</label></td>
			<td><f:form.textfield id="persoon-telefoon" property="telefoonnrVast" size="36" maxlength="40" type="tel" pattern="(\+\d{1,3}|0)\d\d-[\d]{7,8}" /></td>
			<td colspan="2"><f:form.checkbox id="persoon-telefoontonen" property="telOpWebsite" style="width:20px;" value="telefoon tonen" checked="{person.telOpWebsite}=='telefoon tonen'"/><f:translate key="adres.telefoontonen" /></td>
			</tr>
			<tr><td class="labelchurchadmin"><label for="persoon-mobiel"><f:translate key="persoon.mobiel" />:</label></td>
			<td><f:form.textfield id="persoon-mobiel" property="mobieltelnr" size="36" maxlength="50" additionalAttributes="{autocomplete: 'off'}"  type="tel" pattern="(\+31|0)6-?[\d]{8,8}" /></td>
			<td colspan="2"><f:form.checkbox id="persoon-mobietonen" property="mobielOpWebsite" style="width:20px;" value="mobiel tonen" checked="{person.mobielOpWebsite}=='mobiel tonen'"/><f:translate key="persoon.mobieltonen" /></td>
			</tr>
			<tr><td class="labelchurchadmin"><label for="persoon-email"><f:translate key="persoon.email" />:</label></td>
			<td><f:form.textfield type="email" id="persoon-email" property="emailadres" additionalAttributes="{autocomplete: 'off'}"  size="36" maxlength="50"  /></td>
			<td colspan="2"><f:form.checkbox property="emailOpWebsite" style="width:20px;" value="email tonen" checked="{person.emailOpWebsite}=='email tonen'"/><f:translate key="persoon.emailtonen" /></td>
			</tr>
			</table>
		</td></tr>
		<tr><td>
			<fieldset class="form-group border-primary border-1 pl-2"><legend class="w-auto text-primary">Persoonlijk</legend>
			<table>
				<tr><td class="labelchurchadmin"><label for="persoon-geboortedatum"><f:translate key="persoon.geboortedatum" />:</label></td>
				<td><f:form.textfield id="persoon-geboortedatum" class="selectdate" type="date" property="geboortedatum"  size="10" maxlength="16"  />
				<f:form.checkbox property="geboortedatumOpIntranet" style="width:20px;" value="1" checked="{person.geboortedatumOpIntranet}"/><f:translate key="persoon.geboortedatumtonen" /></td>
				<td class="labelchurchadmin"><label for="persoon-geboorteplaats"><f:translate key="persoon.geboorteplaats" />:</label></td>
				<td><f:form.textfield id="persoon-geboorteplaats" property="geboorteplaats" size="26" maxlength="30" /></td>
				</tr>
				<td class="labelchurchadmin"><label for="persoonvader"><f:translate key="persoon.vader" />:</label></td>
				<td>		
				<div>
				<f:form.textfield id="persoonvader" class="selectperson" property="vadernaam"  size="30" additionalAttributes="{autocomplete: 'off', role= 'vader'}"  />
				<f:form.hidden property="idVader" id="idvader"/>
					<div class="zoekselect" id="vaderselectdiv">
 				    	<ul id="vaderselectul" class="selectul">
						</ul>
					</div>
				</div>
				</td>
				<td class="labelchurchadmin"><label for="persoonmoeder"><f:translate key="persoon.moeder" />:</label></td>
				<td>		
				<div>
				<f:form.textfield id="persoonmoeder" class="selectperson" property="moedernaam" size="26" additionalAttributes="{autocomplete: 'off', role= 'moeder'}"  />
				<f:form.hidden property="idMoeder" id="idmoeder"/>
					<div class="zoekselect" id="moederselectdiv">
 				    	<ul id="moederselectul" class="selectul">
						</ul>
					</div>
				</div>
				</td>
				</tr>
				<tr><td class="labelchurchadmin"><label for="persoon-burgelijkestaat"><f:translate key="persoon.burgelijkestaat" />:</label></td>
				<td>
					<f:form.select id="persoon-burgelijkestaat" property="burgerlijkeStaat" options="{burgstaat}" prependOptionValue="" prependOptionLabel="" />
				</td>
				<td id="partner" class="labelchurchadmin"><label for="persoonpartner"><f:translate key="persoon.partner" />:</label></td>
			  	<td id="partnernaam">
				<div>
				<f:form.textfield id="persoonpartner" class="selectperson" property="partnernaam" size="26" additionalAttributes="{autocomplete: 'off', role= 'partner'}"  />				
				<f:form.hidden property="idPartner" id="idpartner"/>
					<div class="zoekselect" id="partnerselectdiv">
 				    	<ul id="partnerselectul"  class="selectul">
						</ul>
					</div>
				</div>				
				</td>
				</tr>
				<tr id="trouwdat">
				<td></td><td></td>
				<td class="labelchurchadmin"><label for="persoon-trouwdatum"><f:translate key="persoon.trouwdatum" />:</label></td>
				<td id="persoon-trouwdatum">
					<f:form.textfield  type="date" class="selectdate" property="trouwdatum" size="10" maxlength="16"  />
				</td>
				</tr>
				<tr id="overlijdendat">
				<td></td><td></td>
				<td class="labelchurchadmin"><label for="persoon-overlijdendatum"><f:translate key="persoon.datumoverlijden" />:</label></td>
				<td id="persoon-overlijdendatum">
					<f:form.textfield  type="date" class="selectdate" property="datumoverlijden" size="10" maxlength="16"  />
				</td>
				</tr>
				<tr><td class="labelchurchadmin"><label for="persoon-beroep"><f:translate key="persoon.beroep" />:</label></td>
				<td><f:form.textfield id="person-beroep" property="beroep" size="38" maxlength="100"  /></td>
				</tr>
				
			</fieldset></table>
		</td></tr>
		<tr><td>
			<fieldset class="form-group border-primary border-1 pl-2"><legend class="w-auto text-primary">Gemeente </legend>
			<table>
			<tr><td> <f:form.checkbox id="persoon-bezoeker" property="bezoeker" style="width:20px;" value="is bezoeker" checked="{person.bezoeker}=='is bezoeker'"/><f:translate key="persoon.bezoeker" /></td>
			<td class="labelchurchadmin"><label for="persoon-invoerdatum"><f:translate key="persoon.invoerdatum" />:</label></td>
			<td id="persoon-invoerdatum">{person.invoerdatum}</td>
			</tr>
			<tr><td><f:form.checkbox id="persoon-gedoopt" property="gedoopt" style="width:20px;" value="is gedoopt" checked="{person.gedoopt}=='is gedoopt'"/><f:translate key="persoon.doop" /></td>
			<td class="labelchurchadmin" id="doopdatum" ><label for="persoon-doopdatum"><f:translate key="persoon.doopdatum" />:</label></td>
			<td id="persoon-doopdatum"><f:form.textfield type="date" class="selectdate" property="doopdatum"  size="10" maxlength="16"  /></td>
			</tr>
			<tr id="doopplaats"><td></td>
			<td class="labelchurchadmin"><label for="doopplaats"><f:translate key="persoon.doopplaats" />:</label></td>
			<td id="doopplaats"><f:form.textfield id="persoon-doopplaats" property="doopplaats" size="50" maxlength="50"  /></td>
			</tr>
			<tr id="doopgemeente"><td></td>
			<td class="labelchurchadmin"><label for="doopgemeente"><f:translate key="persoon.doopgemeente" />:</label></td>
			<td id="doopgemeente"><f:form.textfield id="persoon-doopgemeente" property="doopgemeente" size="50" maxlength="50"  /></td>
			</tr>
			<tr><td><f:form.checkbox id="persoon-lidmaatschap" property="lid" style="width:20px;" value="is lid" checked="{person.lid}=='is lid'"/><f:translate key="persoon.lidmaatschap" /></td>
			<td id="datumlidmaatschap" class="labelchurchadmin"><label for="persoon-datumlidmaatschap"><f:translate key="persoon.sinds" />:</label></td>
			<td id="persoon-datumlidmaatschap"><f:form.textfield type="date" class="selectdate" property="datumLidmaatschap"  size="10" maxlength="16"  /></td>
			</tr>
			<f:if condition="{cleanteamReg}">
				<tr><td colspan="3">				
				<f:form.checkbox id="persoon-cleanteam" property="cleanteam" style="width:20px;" value="kan meedoen" checked="{person.cleanteam}=='kan meedoen'"/><f:translate key="persoon.cleanteam" /></td>
				</tr>
			</f:if>
			</fieldset></table>
		</td></tr>
		<f:if condition="{person.datumWijziging}">	
			<tr><td id="author" colspan=2 style="font-size : smaller;" valign="bottom" align=left>Gewijzigd:&nbsp;&nbsp;<f:format.date format="d-m-Y">{person.datumWijziging}</f:format.date>&nbsp;&nbsp;door {person.stellernaam}</td></tr>
		</f:if>
		<tr><td>&nbsp;</td></tr>
		<tr><td  valign="top">
		<table  class="styled"><tr>
		<f:if condition="{person.deleted}=='0'">
			<f:then>
				<td>				
				<f:form.button class="btn btn-primary" title="Wijzigingen opslaan">{f:translate(key:"personchangesave_button_label")}</f:form.button>
				</td>
			</f:then>
		</f:if>
		</f:form>
		<td>
		<f:form action="{return}" name="search" id="returnForm">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.button  class="btn btn-primary" >{f:translate(key:"return_button_label")}</f:form.button>
		</f:form>
		</td>
		</tr></table>
	</TABLE>

	</f:if>		

<script>
	//$ = jQuery.noConflict();

$("#persoon-burgelijkestaat").change(function(){
	var staat= this.value;
	if (staat=="gehuwd" || staat=="samenwonend")
	{
		$("#partner").show();
		$("#partnernaam").show();
	}
	else
	{
		$("#partner").hide();
		$("#partnernaam").hide();
	}
	if (staat=="gehuwd" )$("#trouwdat").show(); else $("#trouwdat").hide();
	if (staat=="overleden")$("#overlijdendat").show();else $("#overlijdendat").hide();
});

$("#persoon-gedoopt").change(function(){
	if ($(this).is(':checked'))
	{
		// vul doopplaats/gemeente:
		$("#doopdatum").show();
		$("#persoon-doopdatum").show();
		$("#doopplaats").show();
		$("#doopgemeente").show();
		if ($("#persoon-doopplaats").val().length<1)$("#persoon-doopplaats").val("Zoetermeer")
		if ($("#persoon-doopgemeente").val().length<1)$("#persoon-doopgemeente").val("Evangelische Gemeente Parousia Zoetermeer")
	}
	else
	{
		$("#doopdatum").hide();
		$("#persoon-doopdatum").hide();
		$("#doopplaats").hide();
		$("#doopgemeente").hide();
	}
}); 

$("#persoon-lidmaatschap").change(function(){
	if ($(this).is(':checked')){
		$("#datumlidmaatschap").show();
		$("#persoon-datumlidmaatschap").show();}
	else {
		 $("#datumlidmaatschap").hide();
		 $("#persoon-datumlidmaatschap").hide();}
});


$(document).ready(function(){ 
	if ($("#persoon-gedoopt").is(':checked'))
	{
		// vul doopplaats/gemeente:
		$("#doopdatum").show();
		$("#persoon-doopdatum").show();
		$("#doopplaats").show();
		$("#doopgemeente").show();
		if ($("#persoon-doopplaats").val().length<1)$("#persoon-doopplaats").val("Zoetermeer")
		if ($("#persoon-doopgemeente").val().length<1)$("#persoon-doopgemeente").val("Evangelische Gemeente Parousia Zoetermeer")
	}
	else
	{
		$("#doopdatum").hide();
		$("#persoon-doopdatum").hide();
		$("#doopplaats").hide();
		$("#doopgemeente").hide();
	}
	if ($("#persoon-lidmaatschap").is(':checked'))
	{
		$("#datumlidmaatschap").show();
		$("#persoon-datumlidmaatschap").show();}
	else {
		 $("#datumlidmaatschap").hide();
		 $("#persoon-datumlidmaatschap").hide();}
		 
	var staat= $("#persoon-burgelijkestaat").val();
	if (staat=="gehuwd" || staat=="samenwonend")
	{
		$("#partner").show();
		$("#partnernaam").show();
	}
	else
	{
		$("#partner").hide();
		$("#partnernaam").hide();
	}
	if (staat=="gehuwd" )$("#trouwdat").show(); else $("#trouwdat").hide();
	if (staat=="overleden" )$("#overlijdendat").show(); else $("#overlijdendat").hide();

}); 

   $("#persoon-voornaam").change(function(){
		voornamen=$(this).val();
		//alert("voornaam gewijzigd:"+voornamen);
		if (!$("#persoon-roepnaam").val() && voornamen) $("#persoon-roepnaam").val(voornamen);
   });
   $("#persoon-mobiel").change(function() 
	{ //alert ("action:"+toggleaction+"; "+this.value +" checked:"+this.checked);	
		mobieltelnr=this.value;
		mobieltelnr=mobieltelnr.replace(/\s/g,'');
		mobieltelnr=mobieltelnr.replace(/\+31/,'0');
		$("#persoon-mobiel").val(mobieltelnr);
		if (!mobieltelnr)return;
		var cellphone = /^(\+31|0)6-?[\d]{8,8}$/;
		if (!cellphone.test(mobieltelnr))
		{
			alert("formaat van mobielnummer "+mobieltelnr+" is onjuist");
			return false;
		} 
		if (mobieltelnr.indexOf("-") <0 )
		{
			minpos=mobieltelnr.indexOf("6")+1;
			mobieltelnr=mobieltelnr.substring(0,minpos)+'-'+mobieltelnr.substring(minpos);
			$("#persoon-mobiel").val(mobieltelnr);
		}
   }); 
   
   $("#persoon-telefoon").change(function() 
	{ //alert ("action:"+toggleaction+"; "+this.value +" checked:"+this.checked);	
		telefoonnr=this.value;
		telefoonnr=telefoonnr.replace(/\s/g,'');
		telefoonnr=telefoonnr.replace(/\+31/,'0');
		if (!telefoonnr)return;

		if (telefoonnr.indexOf("-") <0 ) telefoonnr=telefoonnr.replace(/((\+[1-9]\d{0,2}|0)[1-9]\d)(\d{7,7})/,"$1-$3");
		
		$("#persoon-telefoon").val(telefoonnr);
		var cellphone = /^(\+[1-9]\d{0,2}|0)[1-9]\d-\d{7,8}$/;
		if (!cellphone.test(telefoonnr))
		{
			alert("formaat van telefoon nummer "+telefoonnr+" is onjuist");
			return false;
		} 
   }); 
   
   $(".selectdate").blur(function(){
	mydat= new Date($(this).val());
	now= new Date();
	now.setDate(now.getDate()+30);
	if (mydat> now) 
	{
		alert($(this).val()+" te ver in de toekomst");
		return false;
	}
	now.setFullYear(now.getFullYear()-120);
	if (mydat < now) 
	{
		alert($(this).val()+" te ver in het verleden");
		return false;
	}
	return true;
   }); 

  
</script>
<f:render partial="Persoon/SearchPersonRole" arguments="{file: file}" />

</f:section>
</html>
