<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SearchForm.html
-->

<f:section name="content">
	<div class="persoon-email-form">
		<f:form action="sendEmail" name="send" id="send" method="post" enctype="multipart/form-data" additionalAttributes="{autocomplete:'off'}">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden id="archivepersons" name="archivepersons" value="{aPersonArchive}"/>
		<f:form.hidden id="userid" name="userid" value="{userid}"/>
		<f:form.hidden name="return" value="{return}"/>
		<f:form.hidden id="message" name="message"/>
		<h3>Email</h3>
		<div class="form-group row">
			<label for="persoonreplyto" class="col-sm-1 col-form-label labelchurchadmin"><f:translate key="replyto" />:</label>
    		<div class="col-sm-4">
				<f:form.textfield id="persoonreplyto" name="username" class="selectperson form-control" value="{username}" size="30"   additionalAttributes="{autocomplete: 'off', role= 'replyto'}"/>
				<f:form.hidden value="{useremail}" name="useremail" id="idreplyto"/>
				<div class="zoekselect" id="replytoselectdiv">
			    	<ul id="replytoselectul" class="selectul">
					</ul>
				</div>
    		</div>
		</div>
		<div class="form-group row">
			<label for="onderwerp" class="col-sm-1 col-form-label labelchurchadmin"><f:translate key="onderwerp" />:</label>
    		<div class="col-sm-5">
				<f:form.textfield id="onderwerp"  name="subject" value="" class="form-control"  maxlength="150"  required="true"/>
    		</div>
		</div>
		<div class="form-group row">
			<label for="recipients" class="col-sm-1 col-form-label labelchurchadmin"><f:translate key="bcc" />:</label>
    		<div class="col-sm-5">
				<textarea wrap="soft" rows="3" cols="88" class="form-control" id="recipients" name="tx_churchpersreg_persoon[recipients]"><f:for each="{persons}" as="person">{person.emailadres}<{person.naam}>; </f:for></textarea>
    		</div>
		</div>
		<f:if condition="{contactarchiefreg}">
			<div class="form-group">
	    		<div class="form-check-inline">
				<f:form.checkbox class="form-check-input" id="archiveren" title="Bij elke geadresseerde persoon opslaan als contact-info" name="archive" value="archiveren" checked="{aantalgevonden}<=3"/>
	      		<label class="form-check-label" for="archiveren"><f:translate key="archive"/></label>
	    		</div>
	    		<div class="form-check-inline">
				<f:form.checkbox class="form-check-input" id="confidential" title="Alleen hiertoe bevoegde personen (en ik zelf) mogen dit zien" name="confidential" value="vertrouwelijk"/>
	      		<label class="form-check-label" for="confidential"><f:translate key="confidential"/></label>
	    		</div>
			</div>
		</f:if>
		<div class="form-group row">
			<label for="bijlagen" class="col-sm-1 col-form-label labelchurchadmin"><f:translate key="attachments" />:</label>
    		<div id="bijlagen" class="col-sm-4">
				<input type="file" id="bijlagen" class="filenaam" name="attachmentFile[]" onchange="addrow(this)" >
    		</div>
		</div>
		<div class="form-group row">
			<label for="salutation" class="col-sm-1 col-form-label labelchurchadmin"><f:translate key="salutation" />:</label>
    		<div id="salutation" class="col-sm-6">
				<f:form.select id="appreciation" name="appreciation" value="{appreciationdefault}" options="{appreciations}" optionValueField="key" optionLabelField="label"/>
				<f:form.select id="relationship" name="relationship" value="{relationshipdefault}" options="{relationships}"  optionValueField="key" optionLabelField="label"/>
				<f:form.select id="nameformat" name="nameformat" value="{namedefault}">
   					<f:form.select.option value="firstname">voornaam</f:form.select.option>
	   				<f:form.select.option value="fullname">voornaam achternaam</f:form.select.option>
   					<f:form.select.option value="lastname">achternaam</f:form.select.option>
       				<f:form.select.option value=""></f:form.select.option>
				</f:form.select>
    		</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label labelchurchadmin"><f:translate key="content" />:</label>
		</div>		
		<div>
			<f:form.textarea id="editor" name="message" rows="13" cols="87"/>
		</div>

		<div class="d-flex row justify-content-center">
			<f:if condition="{ministryid}">
				<f:form.hidden id="ministryid" name="ministryid" value="{ministryid}"/>
			</f:if>
			<f:form.button id="emailsendbtn" class="btn btn-primary mr-1 mt-1" title="Email verzenden naar geselecteerde groep" onclick="return checkvalues();">{f:translate(key:"emailsend_button_label")}</f:form.button>
			</f:form>
			<f:if condition="{return} && {retpageUid}">
				<f:form action="{return}" name="search" controller="{retcontroller}" extensionName="{retextensionName}" pluginName="{retpluginName}" pageUid="{retpageUid}" id="returnForm">
				<f:form.hidden id="stack" name="stack" value="{stack}"/>
				<f:form.button class="btn btn-primary mt-1" title="Niets verzenden en terugkeren">{f:translate(key:"return_button_label")}</f:form.button>
				</f:form>
			</f:if>
			<f:if condition="{return} && !{retpageUid}">
				<f:form action="{return}" name="return" method="post">
				<f:form.hidden id="stack" name="stack" value="{stack}"/>
				<f:form.button class="btn btn-primary mt-1" title="Niets verzenden en terugkeren">{f:translate(key:"return_button_label")}</f:form.button>
				</f:form>
			</f:if>
			</td>
		</div>
	</div>
		
<script language="JavaScript">
$ = jQuery.noConflict();
ClassicEditor
    .create( document.querySelector( '#editor' ),{
	language: 'nl'
	} )
    .then( newEditor => {
        editor = newEditor;
    } )
    .catch( error => {
        console.error( error );
    } );

function addrow(sel) 
{
	//alert (sel.value +" changed");
	var leeg=0;
	var aantal=0;
	$(".filenaam").each(function(){
	  	aantal++;
 		if($( this ).val()==""){leeg=1;}
	});
  
  	if (leeg==0) {
    	aantal++;
  		$('<input type="file" class="filenaam" Name="attachmentFile[]" onchange="addrow(this)">').appendTo("#bijlagen");
  	}
}

function checkvalues()
{
	//message=CKEDITOR.instances.messagearea.getData().trim();
	editor.updateSourceElement();
	//tekst=$("#editor").val();
	//alert ('message:'+tekst);
	if (!$("#onderwerp").val().trim())
	{
		alert("Vul onderwerp in");
		return false;
	}
	//message=CKEDITOR.instances.message.getData();
	if (!$("#editor").val())
	{
		alert("Vul inhoud in");
		return false;
	}
	if (!$("#recipients").val().trim())
	{
		alert("Vul BCC-groep in");
		return false;
	}
	return true;
}

</script>
<f:render partial="Persoon/SearchPersonRole" arguments="{file: file}" />

</f:section>

</html>