<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SearchForm.html
-->

<f:section name="content">
	<div><h4>Aanvraag {settings.typerequest}</h4></div>
	<f:if condition="{errorkey}" >
		<f:then>
			<f:format.raw>
			<div class="alert alert-primary" role="alert">
            	<f:translate key="{errorkey}" arguments="{0: '{settings.typerequest}'}"/>
			</div>
			</f:format.raw>
		</f:then>
		<f:else>
			<f:form action="saveRequest" pluginname="AanvraagSend">
			<f:form.hidden name="person_uid" value="{person.person_uid}"/>
			<f:form.hidden name="typerequest" value="{settings.typerequest}"/>
			<div>Ik, {person.naam}, <f:format.case mode="lower"><f:translate key="geboren" /></f:format.case> <f:format.date format="%d-%m-%Y" date="{person.geboortedatum}" />, 
			<f:if condition="{settings.typerequest}=='lidmaatschap'">wil graag lid worden van onze gemeente Parousia Zoetermeer.</f:if>
			<f:if condition="{settings.typerequest}=='doop'">wil graag gedoopt worden in onze gemeente Parousia Zoetermeer.</f:if>
			</div>
			<f:if condition="{partner}">
				<f:form.checkbox class="mt-2 mb-2" id="partneraanvraag" name="partneraanvraag" value="{partner_uid}" checked=""/>&nbsp;Dit geldt ook voor {partner}
			</f:if>
			<div class="btn-toolbar mt-2">
			<f:form.button class="btn btn-primary" title="Versturen">{f:translate(key:"personrequestsave_button_label")}</f:form.button>
			</div>
			</f:form>
		</f:else>
	</f:if>


</f:section>
</html>