<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SearchForm.html
-->

<f:section name="content">
<div class="container">
	<div class="row justify-content-end">
	<f:form.button  class="btn-link text-primary border-0 bg-white mr-2" title="{f:translate(key:'persoon.searchtips')}" 
		onclick='window.open("{f:uri.resource(path:\'EXT:churchpersreg/Resources/Public/Documents/Zoektips.html\')}",null,"width=600,height=700,resizable=yes,scrollbars=yes,title=no,status=no,toolbar=no,menubar=no,location=no")' >
		<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	  	<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
	  	<path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
		</svg>
    </f:form.button>

	<f:if condition="{schrijfpersonen}">
		<f:form action="edit">
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.button  class="btn-link text-primary border-0 bg-white mr-2" title="{f:translate(key:'persoon.new')}">
 			<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  			<path fill-rule="evenodd" d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm4.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
  			<path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
			</svg>
			</f:form.button>
		</f:form>
	</f:if>
	<f:form action="selectedList" object="{search}" name="search" pageUid="{settings.listPid}">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.button  class="btn-link text-primary border-0 bg-white" title="{f:translate(key:'persoon.start')}" >
			<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  			<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  			<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
			</svg>
		</f:form.button>
	</div>
    <p>{f:if(condition:personreg,then:'Geef één of meer zoekcriteria:',else:'Geef deel van naam, adres, telefoonnummer, bediening of taak:')}</p>
	
		<div class="form-row">
	    	<div class="form-group col-md-6">
				<f:form.textfield id="persoon-general" property="general" class="form-control" type="search" title="{f:if(condition:personreg,then:'Als met Google op alle rubrieken van personen zoeken naar opgegeven woorden', else:'geef deel van naam, adres, telefoonnummer, bediening of taak')}" 
				placeholder="Geef deel van naam, adres, telefoonnummer, bediening of taak"/>
		    </div>
		</div>
		<f:if condition="{personreg}">
		<div class="form-group row">
			<label for="persoon-voornaam" class="col-sm-1 col-form-label"><f:translate key="persoon.voornaam" /></label>
    		<div class="col-sm-2">
				<f:form.textfield id="persoon-voornaam" property="voornaam" class="form-control" type="search"  maxlength="20"/>
    		</div>
			<label for="persoon-achternaam" class="col-sm-1 col-form-label"><f:translate key="persoon.achternaam" /></label>
    		<div class="col-sm-2">
				<f:form.textfield id="persoon-achternaam" property="achternaam" class="form-control" type="search"  maxlength="50"/>
    		</div>
		</div>
		<div class="form-group row">
			<label for="persoon-postcode" class="col-sm-1 col-form-label"><f:translate key="persoon.postcode" /></label>
    		<div class="col-sm-2">
				<f:form.textfield id="persoon-postcode" property="postcode" class="form-control" type="search"  maxlength="7"/>
    		</div>
			<label for="persoon-woonplaats" class="col-sm-1 col-form-label"><f:translate key="persoon.woonplaats" /></label>
    		<div class="col-sm-2">
				<f:form.textfield id="persoon-woonplaats" property="woonplaats" class="form-control" type="search"  maxlength="50"/>
    		</div>
		</div>
		<div class="form-group row">
			<label for="persoon-leeftijd" class="col-md-1 col-form-label"><f:translate key="persoon.leeftijd" /></label>
    		<div class="col-md-1">
				<f:form.textfield id="persoon-leeftijd" property="leeftijdmin" class="form-control" type="search"  maxlength="3" placeholder="van"/>
			</div>
    		<div class="col-md-1">
				<f:form.textfield id="persoon-leeftijdmax" property="leeftijdmax" class="form-control" type="search"  maxlength="3" placeholder="t/m"/>
			</div>
		</div>
		<div class="form-group">
    		<div class="form-check">
			<f:form.checkbox class="form-check-input" id="persoon-peradres" property="peradres" value="1" checked="{search.peradres}"/>
      		<label class="form-check-label" for="persoon-peradres">huishoudingen tonen</label>
    		</div>
		</div>
		<fieldset class="form-group border-primary border-1 pl-2">		
		<div class="form-group row">
    		<div class="col-sm-3">
				<f:form.checkbox id="persoon-bezoeker" property="bezoeker" value="1" checked="{search.bezoeker}" additionalAttributes="{onclick: 'showselectinvoerdatum()',}"/>
      			<label class="form-check-label" for="persoon-bezoeker"><f:translate key="bezoeker" /></label>
    		</div>
		</div>
		<div class="form-group row" id="showinputdate" style="display: none;">
			<label for="persoon-inputdat" class="col-sm-1 col-form-label"><f:translate key="persoon.showinputdat" /></label>
    		<div class="col-md-2" id="persoon-inputdat">
				<f:form.textfield  type="date" id="persoon-inputdatmin" property="inputdatmin" class="selectdate"  maxlength="16" size="10"/>
			</div>
    		<div class="col-md-2">
				<f:form.textfield  type="date" id="persoon-inputdatmax" property="inputdatmax" class="selectdate"  maxlength="16" size="10"/>
			</div>
		</div>
		</fieldset>
		<fieldset class="form-group border-primary border-1 pl-2">		
		<div class="form-group row">
    		<div class="col-sm-3">
				<f:form.checkbox id="persoon-lid" property="lid" value="is lid" checked="{search.lid}=='is lid'" additionalAttributes="{onclick: 'showselectdatumlid()',}"/>
      			<label class="form-check-label" for="persoon-lid"><f:translate key="persoon.lidmaatschap" /></label>
    		</div>
		</div>
		<div class="form-group row" id="showmemberdate" style="display: none;">
			<label for="persoon-liddat" class="col-sm-1 col-form-label"><f:translate key="persoon.showliddat" /></label>
    		<div class="col-md-2" id="persoon-liddat">
				<f:form.textfield  type="date" id="persoon-liddatmin" property="liddatmin" class="selectdate"  maxlength="16" size="10"/>
			</div>
    		<div class="col-md-2">
				<f:form.textfield  type="date" id="persoon-liddatmax" property="liddatmax" class="selectdate"  maxlength="16" size="10"/>
			</div>
		</div>
		</fieldset>
		<f:if condition="{removedread}">
		<fieldset class="form-group border-primary border-1 pl-2">		
		<div class="form-group row">
			<label for="persoon-inclverwijderd" class="col-sm-1 col-form-label"><f:translate key="persoon.showremoved" /></label>
    		<div class="col-sm-3">
				<f:form.select id="persoon-inclverwijderd" additionalAttributes="{onchange: 'showselectdatumwijziging(this)',}" property="inclverwijderd" class="form-control" size="1" value="{inclverwijderd}" >
				<f:form.select.option value="0" ><f:translate key="persoon.activeonly"/></f:form.select.option>
				<f:form.select.option value="1" ><f:translate key="persoon.both"/></f:form.select.option>
				<f:form.select.option value="2" ><f:translate key="persoon.removedonly"/></f:form.select.option>
			</f:form.select>
    		</div>

		</div>
		<div class="form-group row" id="showchangedate" style="display: none;">
			<label for="persoon-wijzdat" class="col-sm-1 col-form-label"><f:translate key="persoon.showwijzdat" /></label>
    		<div class="col-md-2" id="persoon-wijzdat">
				<f:form.textfield  type="date" id="persoon-wijzdatmin" property="wijzdatmin" class="selectdate"  maxlength="16" size="10"/>
			</div>
    		<div class="col-md-2">
				<f:form.textfield  type="date" id="persoon-wijzdatmax" property="wijzdatmax" class="selectdate"  maxlength="16" size="10"/>
			</div>
		</div>
		</fieldset>
		</f:if>
		</f:if>

	</f:form>

</div>
<script>
$ = jQuery.noConflict();

$("#persoon-postcode").on('change',function() {
	var pc=$("#persoon-postcode").val().replace(/ /g,'').substr(0,6).toUpperCase();
    $("#persoon-postcode").val(pc.substr(0,4)+' '+pc.substr(4,2));  // standardize field
});

function showselectdatumwijziging(sel)
{
	if (sel.value>0)
		$("#showchangedate").show();
	else 
		$("#showchangedate").hide();
}
function showselectdatumlid()
{
	if ($("#persoon-lid").is(":checked"))
		$("#showmemberdate").show();
	else 
		$("#showmemberdate").hide();
}

function showselectinvoerdatum()
{
	if ($("#persoon-bezoeker").is(":checked"))
		$("#showinputdate").show();
	else 
		$("#showinputdate").hide();
}
$(document).ready(function(){ 
	$("#persoon-inclverwijderd").trigger('change');
	showselectdatumlid();
	//$("#persoon-bezoeker").trigger('click');
	showselectinvoerdatum();
	
	
});
</script>

</f:section>
</html>