<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SelectedList.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
<script language="JavaScript">
$ = jQuery.noConflict();
var downloadfile = "{downloadfile}";
//$(window).load(aanvraag() {
$(document).ready(aanvraag() {
	//alert('downloadfile:'+downloadfile);
	if (downloadfile && downloadfile !='') window.open(downloadfile,"_parent");
});
</script>
	<div class="row"><div class="col-12">{aanvragen->f:count()} {f:translate(key:'aanvragen')} {search.typerequest} {f:translate(key:'found')}:</div></div>
	<f:if condition="{aanvragen}">
		<f:then>
		<f:form action="detailaanvraag"  name="search" id="detailForm">
		<f:form.hidden name="f_uid" id="detailFormpid"/>
		<f:form.hidden name="f_type" id="detailType"/>
		<f:form.hidden name="personid" id="detailpid"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<div class="d-sm-block">
			<div class="row">
			    <div class="col font-weight-bold text-wrap text-left">{f:translate(key:'archive.date')}</div>
				<f:if condition="{search.typerequest}==''">
				    <div class="col font-weight-bold text-wrap text-left">{f:translate(key:'persoon.typerequest')}</div>
				</f:if>
			    <div class="col text-wrap font-weight-bold text-left">{f:translate(key:'persoon.naam')}</div>
			    <div class="col text-wrap font-weight-bold text-left">{f:translate(key:'aanvraag.visitor')}</div>
				
				<f:if condition="{search.openonly}==''"><div class="col text-wrap text-left font-weight-bold">{f:translate(key:'persoon.afhandeldatum')}</div></f:if>
			</div>
			<f:for each="{aanvragen}" as="aanvraag" iteration="aanvraagindex">
				<div class="row {f:if(condition:aanvraagindex.isEven,then:'alternate-row')} ">
				    <div class="col text-wrap  text-left">
						<input class="aanvraagselect btn btn-link p-0" id="{f:if(condition: '{aanvraag.typerequest} == "aansluiting"', then: 'a')}{f:if(condition: '{aanvraag.typerequest} == "doop"', then: 'd')}{f:if(condition: '{aanvraag.typerequest} == "lidmaatschap"', then: 'l')}_{aanvraag.uidpersoon}" style="padding:0;" type="submit" value="{f:format.date(format:"%d-%m-%Y",date:aanvraag.datumaanvraag)}">
					</div>
    				<f:if condition="{search.typerequest}==''"><div class="col text-wrap text-left">{aanvraag.typerequest}</div></f:if>
				    <div class="col text-wrap text-left">
						<f:if condition="{aanvraag.typerequest}=='aansluiting'">{aanvraag.naam}</f:if>
						<f:if condition="{aanvraag.typerequest}!='aansluiting'">
							<f:then>
								<f:form.submit id="ps_{aanvraag.uidpersoon}" class="personselect btn btn-link mr-1 text-wrap" value="{aanvraag.naam}" style="padding:0;"/>
								<f:if condition="{aanvraag.partnernaam}"><f:form.submit id="ps_{aanvraag.uidpartner}" class="personselect btn btn-link text-wrap" value="{aanvraag.partnernaam}" style="padding:0;" /></f:if>
							</f:then>
						</f:if>
					</div>
					<div class="col text-wrap text-left">{aanvraag.bezoekers}</div>
					
				    <f:if condition="{search.openonly}==''">
					<f:then>
						<div class="col text-wrap text-left">
						<f:if condition="{aanvraag.ingevoerd} && {aanvraag.ingevoerd}!='0000-00-00'">
							<f:format.date format="%d-%m-%Y">{aanvraag.ingevoerd}</f:format.date>
						</f:if>
						</div>
					</f:then>
					</f:if>
				</div>
			</f:for>
		</div>
		</f:form>
		</f:then>
	</f:if>
	<div>
	<f:form class="mt-2" action="searchAanvragen" name="search" id="returnForm">
	<f:form.hidden id="stack" name="stack" value="{stack}"/>
	<f:form.hidden name="no_cache" value="1"/>
	<f:form.submit class="btn btn-primary" value="{f:translate(key:'return_button_label')}"/> 
	</f:form>
	</div>
	
	<script>
	$ = jQuery.noConflict();
	
	$(".aanvraagselect").click( function(event){
		var targetid = event.target.id;
		var requestid=targetid.substring(2);
		$("#detailFormpid").val(requestid);
		$("#detailType").val(targetid.substring(0,1));
		//alert("detailFormpid: "+$("#detailFormpid").val());
	});
	$(".personselect").click( function(event){
		var targetid = event.target.id;
		var requestid=targetid.substring(3);
		$("#detailpid").val(requestid);
		//alert("detailFormpid: "+$("#detailFormpid").val());
	});
	</script>
</f:section>
</html>
