<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SelectedList.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
<script language="JavaScript">
$ = jQuery.noConflict();
var downloadfile = "{downloadfile}";
//$(window).load(function() {
$(document).ready(function() {
	//alert('downloadfile:'+downloadfile);
	if (downloadfile && downloadfile !='') window.open(downloadfile,"_parent");
});
</script>
	<div  class="clearfix">
		<div style="float:left" >
		<f:form action="searchForm" name="search" id="returnForm">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.submit class="btn btn-link" style="padding:0;" value="{f:translate(key:'returntosearch')}"/> 
		</f:form>
		</div>
		<div style="float:right" class="btn-toolbar" role="toolbar">
			<f:if condition="{schrijfpersonen}">
			<f:form action="edit">
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.button  class="btn-link text-primary border-0 bg-white" title="{f:translate(key:'persoon.new')}">
 			<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  			<path fill-rule="evenodd" d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm4.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
  			<path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
			</svg>
			</f:form.button>
			</f:form>
			</f:if>
			<f:if condition="{emailpersonen}">
				<f:form action="email">
				<f:form.hidden id="stack" name="stack" value="{stack}"/>
				<f:form.button  class="btn-link text-primary border-0 bg-white" title="stuur een e-mail naar alle gevonden personen">
				<img src="{f:uri.resource(path:'EXT:churchpersreg/Resources/Public/Images/sendemail.svg')}" height="32"/>
				</f:form.button>
				</f:form>
			</f:if>
			<f:if condition="{exportpersonen}">
				<f:form action="export">
				<f:form.hidden id="stack" name="stack" value="{stack}"/>
				<f:form.button  class="btn-link text-primary border-0 bg-white" title="exporteer alle gevonden personen naar excel">
				
				<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
				<path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
				<path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
				</svg>
				</f:form.button>
				</f:form>
			</f:if>
		</div>
	</div>
	<f:if condition="!({personreg} || {adressenlijstreg}) && {persons->f:count()}>45">
		<f:then><table style="width:100%"><tr><td>Teveel personen gevonden; geef meer letters op</td></tr></table>
		</f:then>
	<f:else>
		<f:if condition="{persons}">
			<f:then>
			<f:form action="detail"  name="search" id="detailForm">
			<f:form.hidden name="personid" id="detailFormpid"/>
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<table style="width:100%"><tr><td colspan=2>
				<table width=100%><tr><td>De volgende {persons->f:count()} {f:if(condition:peradres,then:'adressen', else:'personen')} zijn gevonden:<p><br></td></tr></table>
				<table  class="tx_churchpersreg" style="width:100%" cellspacing="0" cellpadding="0">
				<f:for each="{persons}" as="person" iteration="personindex">
					<TR {f:if(condition:personindex.isOdd,then:'class="alternate-row"')} style="margin-top:6px;">
						<f:if condition="{peradres}">
						<f:then>
							<td style="white-space : nowrap; width:80px;"><f:if condition="({person.telefoonnr_vast} && ({personreg} || {person.tel_op_website}=='telefoon tonen'))">
								{person.telefoonnr_vast}&nbsp;
							</f:if>
							</TD>
							<td>
							<f:if condition="{personreg} || {person.adres_op_website}=='adres tonen'"> 
							{person.straatnaam} {person.huisnummer} {person.postcode} {person.woonplaats} {person.land}
							</f:if>
							</td></tr>
							<tr {f:if(condition:personindex.isOdd,then:'class="alternate-row"')}><td></td><td>
								<f:for each="{person.huisgenoten}" as="huisgenoot" >
								<f:form.submit value="{huisgenoot.naam}" id="ps_{huisgenoot.person_uid}" class="personselect btn btn-link" style="padding:0;" />{f:if(condition:huisgenoot.deleted,then:'<span style="color:red;"> (VERWIJDERD)</span>')},&nbsp; 
								</f:for>
							</td></tr>
						</f:then>
						<f:else>						
							<td valign="top">
							<f:if condition="{person.nofoto}">
							<f:then>
								<IMG height="100px" src="{f:uri.resource(path:'EXT:churchpersreg/Resources/Public/Images/leegportret.jpg')}">
							</f:then>	
							<f:else>
								<IMG height="100px" src="index.php?eID=toonfoto&Pid={person.person_uid}&size=small" onClick='window.open("index.php?eID=toonfoto&Pid={person.person_uid}&size=large",null,"width={f:if(condition:person.photoWidth,then:person.photoWidth, else: "400")},height={f:if(condition:person.photoHeight,then:person.photoHeight, else: "600")},resizable=no,title=no,status=no,toolbar=no,menubar=no,location=no")' title='klik om groot te zien' style='cursor: pointer'>
							</f:else>
							</f:if>
							<f:if condition="{userid} == {person.person_uid}">
							<f:then>
								<br><a href="index.php?id=141">{f:if(condition:person.nofoto,then:"Laad je portretfoto",else: "Wijzig je portretfoto")}</a><p>&nbsp;</p>
							</f:then>
							</f:if>
							</td>
							<td class="bodytext" valign="top">
							<f:form.submit value="{person.naam}" id="ps_{person.person_uid}" class="personselect btn btn-link" style="padding:0;" /> {f:if(condition:person.deleted,then:'<span style="color:red;"> (VERWIJDERD)</span>')}<br>
							<f:if condition="{personreg} || {person.adres_op_website}=='adres tonen'"> 
							{person.straatnaam} {person.huisnummer} {person.postcode} {person.woonplaats} {person.land}<br>
							</f:if>
							<f:if condition="({person.telefoonnr_vast} && ({personreg} || {person.tel_op_website}=='telefoon tonen'))">
								{person.telefoonnr_vast}<br>
							</f:if>
							<f:if condition="({person.mobieltelnr} && ({personreg} || {person.mobiel_op_website}=='mobiel tonen'))">
								{person.mobieltelnr}<br>
							</f:if>
							<f:if condition="({person.emailadres} && ({personreg} || {person.email_op_website}=='email tonen'))">
								<f:link.email email="{person.emailadres}"/><p>
							</f:if>
							<f:if condition="{userid} == {person.person_uid}"><p><br>Voor wijziging van je persoonsgegevens mail: <f:link.email email="{emailchangeaddresses}"/></p></f:if>
							</td>
						</f:else>
						</f:if>
						</TR>
					</tr>
				</f:for>
				</table>
			</table>
			</f:form>
			<p>&nbsp;</p>
			<div>
			<f:form action="searchForm" name="search" id="returnForm">
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.submit class="btn btn-link" style="padding:0;" value="{f:translate(key:'returntosearch')}"/> 
			</f:form>
			</div>
			</f:then>
			<f:else>
				<table style="width:100%"><tr><td><f:translate key="list_nonpersonsfound" /></td></tr></table>
			</f:else>
		</f:if>
		<!--TYPO3SEARCH_begin-->
	</f:else>
	</f:if>
	
	<script>
	$ = jQuery.noConflict();
	
	$(".personselect").click( function(event){
		var targetid = event.target.id
		var personid=targetid.substring(3);
		//alert("personselect targetid:"+targetid+"; personid:"+personid);
	$("#detailFormpid").val(personid);

	});

	</script>
</f:section>
</html>
