<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<f:section name="content">
	<div class="alert alert-primary" role="alert">
       	<f:translate key="aansluiting.confirmation" />
	</div>
</f:section>
</html>
