<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SearchForm.html
-->

<f:section name="content">

	<f:if condition="{errorkey}" >
		<f:then>
			<f:format.raw>
			<div class="alert alert-primary" role="alert">
            	<f:translate key="{errorkey}" />
			</div>
			</f:format.raw>
		</f:then>
	</f:if>
	<script>
	</script>
	<div class="row"><f:translate key="aansluiting.intro" /></div>
	<div class="row"><h3><f:translate key="aansluiting.details" /></h3></div>
	<f:form action="saveAansluiting" controller="Aansluiting" pluginname="AanvraagAansluiting" object="{aansluiting}" name="aansluiting" id="saveForm" onsubmit="getElementById('versturen').disabled = true; ">   
	<div class="row">
		<div class="col-md-3 mr-2"> 
			<label for="aansluiting-firstname" class="font-weight-bold"><f:translate key="persoon.voornaam" />*</label>
		</div>
		<div class="col">
			<f:form.textfield class="form-control" id="aansluiting-firstname"  property="voornaam" size="40" maxlength="32" required="true" style="text-transform: capitalize;" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 mr-2"> 
			<label for="aansluiting-lastname" class="font-weight-bold"><f:translate key="persoon.achternaam" />*</label>
		</div>
		<div class="col">
			<f:form.textfield class="form-control" id="aansluiting-lastname"  property="achternaam" size="40" maxlength="60" required="true" style="text-transform: capitalize;" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 mr-2"> 
			<label for="aansluiting-birthdate" class="font-weight-bold"><f:translate key="persoon.geboortedatum" />*</label>
		</div>
		<div class="col">
			<f:form.textfield class="birthdate" id="aansluiting-birthdate"  property="geboortedatum" size="10" maxlength="16"  required="true"  additionalAttributes="{onchange: 'return(FormatDate(this))'}" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 mr-2"> 
			<label for="aansluiting-postcode" class="font-weight-bold"><f:translate key="adres.postcode" />*</label>
		</div>
		<div class="col" >
			<f:form.textfield id="aansluiting-postcode" class="form-control"  property="postcode" size="10" maxlength="10"  placeholder="9999 XX" additionalAttributes="{onchange: 'getstreetcity(this)', role= 'postcode'}" required="true"  />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 mr-2"> 
			<label for="aansluiting-huisnummer" class="font-weight-bold"><f:translate key="adres.huisnummer" />*</label>
		</div>
		<div class="col" >
			<f:form.textfield class="form-control" id="aansluiting-huisnummer" property="huisnummer" size="20" maxlength="20" additionalAttributes="{onchange: 'getstreetcity(this)', role= 'huisnummer'}" required="true"  />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 mr-2"> 
			<label for="aansluiting-straatnaam" class="font-weight-bold"><f:translate key="adres.straatnaam" />*</label>
		</div>
		<div class="col" >
			<f:form.textfield class="form-control" id="aansluiting-straatnaam" property="straatnaam" size="36" maxlength="80" additionalAttributes="{role= 'straatnaam'}" required="true"  />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 mr-2"> 
			<label for="aansluiting-woonplaats" class="font-weight-bold"><f:translate key="adres.woonplaats" />*</label>
		</div>
		<div class="col" >
			<f:form.textfield class="form-control" id="aansluiting-woonplaats" property="woonplaats" size="36" maxlength="40"  additionalAttributes="{role= 'woonplaats'}"   required="true"  />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 mr-2"> 
			<label for="aansluiting-mobieltelnummer" class="font-weight-bold"><f:translate key="persoon.mobiel" /></label>
		</div>
		<div class="col">
			<f:form.textfield class="form-control"  id="aansluiting-mobieltelnummer" property="mobieltelnummer" size="13" maxlength="13" type="tel" pattern="(\+31|0)6-?[\d]{8,8}" oninvalid="this.setCustomValidity('Dit is een ongeldig mobiel nummer!')" oninput="this.setCustomValidity('')" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 mr-2"> 
			<label for="aansluiting-telefoonnummer" class="font-weight-bold"><f:translate key="adres.telefoon" /></label>
		</div>
		<div class="col">
			<f:form.textfield class="form-control telephone" id="aansluiting-telefoonnummer"  property="telefoonnummer" size="36" maxlength="40" type="tel" pattern="(\+\d{1,3}|0)\d\d-[\d]{7,8}" oninvalid="this.setCustomValidity('Dit is een ongeldig vast telefoonnummer!')" oninput="this.setCustomValidity('')" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 mr-2"> 
			<label for="aansluiting-emailadres" class="font-weight-bold"><f:translate key="persoon.email" />*</label>
		</div>
		<div class="col">
			<f:form.textfield class="form-control" id="aansluiting-emailadres"  property="emailadres" size="36" maxlength="50" type="email" required="true"  />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 mr-2"> 
			<label for="aansluiting-partnernaam" class="font-weight-bold"><f:translate key="aansluiting.partner" /></label>
		</div>
		<div class="col">
			<f:form.textfield class="form-control" id="aansluiting-partnernaam"  property="partnernaam" size="40" maxlength="72"   />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 mr-2"> 
			<label for="aansluiting-namenkinderen" class="font-weight-bold"><f:translate key="aansluiting.kinderen" /></label>
		</div>
		<div class="col">
			<f:form.textfield class="form-control"  id="aansluiting-namenkinderen" property="namenkinderen" size="40" maxlength="256"  />
		</div>
	</div>

	<div class="btn-toolbar mt-2">
		<f:form.button id="versturen" class="btn btn-primary" title="Versturen">{f:translate(key:"personrequestsave_button_label")}</f:form.button>
	</div>
	</f:form>



</f:section>
</html>
