<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
	<div class="container">
		<h1>Zoektips voor personen</h1>
		<ul>
		<li>Het is voldoende een deel van een woord als zoekveld in te vullen.<br> 	B.v. je weet dat iemand eddy of eddie heeft, dan vul je in bij voornaam: edd.
<br> 	Of als je iedereen met een emailadres zoekt, dan vul je in: @. Immers elk emailadres bevat dit.</li>
<li>Alle zoekvelden kunnen gecombineerd worden.<br> 	B.v. je weet alleen dat iemand dani, dany of daniël heet en in Den Haag woont, dan vul je in bij voornaam: dan en bij plaatsnaam: den haag</li>
		<li>Bij het algemene zoekveld bovenaan kunt u op de wijze van de zoekmachine Google zoeken: 	
		<ul>
		<li>Er wordt met de opgegeven zoekterm gezocht in alle rubrieken van een persoon zoals naam, lidmaatschap, burgerlijke staat en telefoonnummer.</li>
		<li>Je kunt meerdere woorden ingeven waaraan de te vinden personen moeten voldoen. Bv. als alternatief in voorgaande voorbeeld bij algemeen invullen:&nbsp;&nbsp; dan den haag</li>
		<li>Je kunt ook zoeken naar hele zinsdelen door ze tussen aanhalingstekens te plaatsen. Zinsdelen tussen dubbele aanhalingstekens ("zoals deze") zullen in zijn geheel gezocht worden.
		<br> 		Voorgaande voorbeeld kan hiermee b.v. verfijnd worden in algemeen:&nbsp;&nbsp;dan "den haag".</li>
		<li>Je kunt woorden uitsluiten van je zoekopdracht door een minteken ("-") gelijk voor het woord te plaatsen. (Denk eraan om een spatie voor het minteken te plaatsen.).
		<br> 		B.v. in voorgaande voorbeeld in algemeen:&nbsp;&nbsp;dani&nbsp; -"den haag" . Dit geeft alle personen met dani in hun naam, die&nbsp;niet&nbsp;in Den Haag wonen.
		<br> 		Als je ook nog weet dat het een man is kun je b.v. daniëlle uitsluiten door in het algemene zoekveld in te vullen: dani&nbsp; -"den haag"&nbsp; man (mits "man" niet voorkomt in andere rubriek als straat, woonplaats, etc)</li>
		</ul>
		</li>
		<li>Een aantal rubrieken kunnen alleen als zinsdelen tussen aanhalingstekens bij algemeen gezocht worden; daarnaast zijn er ook rubrieken met speciale vaste waarden: 	
		<table border="1" cellpadding="1" cellspacing="0"><tbody>
		<tr><td>rubriek</td><td>mogelijke waarden</td><td>toelichting</td></tr>
		<tr><td class="flex-nowrap">bezoeker</td>
		<td>
		<ul style="padding-inline-start:18px;"><li>"is bezoeker"</li>
		<li>"is geen bezoeker"</li></ul></td>
		<td>Vul b.v. bij algemeen in: "is geen bezoeker" (en geen vinkje bij "bezoeker" onderaan) dan krijg je alle personen die nog niet te kennen gegeven zich bij de gemeente te willen aansluiten</td></tr>
		<tr><td>lid</td><td>
			<ul style="padding-inline-start:18px;"><li>"is lid"</li><li>"is geen lid"</li></ul></td><td>Als je b.v. alle personen wil selecteren die lid zijn en een emailadres hebben, vul dan in het algemene zoekveld in: "is lid"&nbsp;@</td>
			</tr>
		<tr><td>gedoopt</td><td>
		<ul style="padding-inline-start:18px;"><li>"is gedoopt"</li><li>"niet gedoopt"</li></ul></td>
		<td>Er zijn ook personen van wie onbekend is of ze gedoopt zijn. Bij hen is er geen waarde ingevuld. Deze zijn te vinden door b.v. bij algemeen in te vullen: -"is gedoopt". Hiermee worden alle personen gevonden die niet de waarde "is gedoopt" hebben, dus leeg of "niet gedoopt".</td></tr>
		<tr><td>e-mail tonen</td><td>
		<ul style="padding-inline-start:18px;"><li>"email tonen"</li><li>"email niet tonen"</li></ul></td><td>&nbsp;</td></tr>
		<tr><td>telefoon tonen</td><td>
		<ul style="padding-inline-start:18px;"><li>"telefoon tonen"</li><li>"telefoon niet tonen"</li></ul></td><td>&nbsp;</td></tr>
		<tr><td>mobiel tonen</td><td>
		<ul style="padding-inline-start:18px;"><li>"mobiel tonen"</li><li>"mobiel niet tonen"</li></ul></td><td>&nbsp;</td></tr>
		<tr><td>adres tonen</td><td>
		<ul style="padding-inline-start:18px;"><li>"adres tonen"</li><li>"adres niet tonen"</li></ul></td><td>&nbsp;</td></tr>
		<tr><td>burgerlijke staat</td><td>
		<ul style="padding-inline-start:18px;"><li>ongehuwd</li><li>gehuwd</li><li>samenwonend</li><li>gescheiden</li><li>weduwnaar</li><li>weduwe</li></ul></td><td>&nbsp;</td></tr>
		<tr><td>geslacht</td><td>
		<ul style="padding-inline-start:18px;"><li>man</li><li>vrouw</li></ul></td><td>&nbsp;</td></tr></tbody>
		</table>
		</li>
		</ul>
	</div>

</f:section>
</html>