
<script>
$(".selectperson").on("input",function(){
	// change person :
	var naam=$(this).val();
	var changenewname=-1;
	var idperson=$("#idperson").val();
	var urlcall="index.php?eID=selectperson";
	
	role=$(this).attr("role");
	if (role=="auteur")urlcall="index.php?eID=selectauteur";
//	alert("naam:"+naam+"; role:"+role+"; idperson:"+idperson);
	var multi=false;
	if ($("#names"+role).length == 0 )
		var prvname=new Array();
	else 
	{
		multi=true; 
		//alert("namesrole:"+$("#names"+role).val().toLowerCase());
		var prvname=$("#names"+role).val().toLowerCase().split(',');
	}
	var prvstatus=new Array();
	//alert("idrole:"+$("#id"+role).val());
	var prvid=$("#id"+role).val().split(',');
	$("#"+role+"selectdiv").css({"display":"none"});
	var newname=naam.split(',');
	//alert("change person: "+newname.toString()+", prv:"+prvname.toString()+"; id:"+prvid.toString());
	//alert ("newname length:"+newname.length);
	if (newname.length<=1 )
	{
		prvname=new Array();
		prvid=new Array()
		changenewname=0;
		prvstatus=new Array();
	}
	else
	{
		if (!multi)
		{	
			alert("Slechts 1 persoon toegestaan");
			$("#persoon"+role).val(naam.replace(',',''));
			return false;
		}
		// search changed names:
		prvstatus=new Array()
		$.each(prvid,function(index,value){prvstatus.push(1);});
		changenewname=-1;
		for (i=0; i<newname.length;i++)
		{
			ptr=prvname.indexOf(newname[i].toLowerCase());
			if (ptr>=0) prvstatus[ptr]=0;
			else changenewname=i;
		}
	}
	
	if (newname.length<prvname.length)
	{
		//alert("new:"+newname.length+"<prv"+prvname.length+"; status:"+prvstatus.toString() );
		for (j=(prvname.length - 1);prvname.length>newname.length;j--)
		{
			if (prvstatus[j]==1) 
			{	
				prvname.splice(j,1);					
				prvid.splice(j,1);
				prvstatus.splice(j,1);
			}
		}
		//alert("status na verkorting:"+prvstatus.toString() );

	}
	else if  (newname.length>prvname.length && changenewname>-1 )
	{
		//alert("new:"+newname.length+">prv"+prvname.length);
		prvname.splice(changenewname,0,newname[changenewname]);
		prvid.splice(changenewname,0,0);
		prvstatus.splice(changenewname,0,1);
	}
	
	if (changenewname>-1) 
	{
		name=newname[changenewname];
		// search for with newname[changenewname] corresponding prvname:
		changeprvname=$.inArray(1,prvstatus);
		prvname[changeprvname]=name; //reset name and id
		//alert("changeprvname:"+changeprvname+"; changenewname:"+changenewname+"; newname:"+newname.toString()+"; name:"+name+"; prvname na invulling:"+prvname.toString());

		prvid[changeprvname]=0;
	}
	
	// save prvname:
	if (multi)
	{	$("#names"+role).val(prvname.toString());
		$("#id"+role).val(prvid.toString());
	}
	
	//alert("prvname:"+prvname.toString()+"; id:"+prvid.toString()+"; stat:"+prvstatus.toString() );		
	
	if (changenewname<0 || name.replace(/^\s+/, "").length<3)return;
	var formdata = new FormData();
/*	formdata.append("naam",name); 
	formdata.append("idperson",idperson);
	formdata.append("rol",role); */
	
	$.ajax({
		url: urlcall,
		data: {
			"naam": name,
			"rol": role,
			"idperson":idperson,
		},

		dataType: "json",
		method: "POST",
		success: function (result) {
			//alert("changenewname:"+changenewname);
			if (result.status=="success")
			{
				arows=result.data;
				//alert("array lengte:"+arows.length);
				if (arows.length>1)
				{
					$("#"+role+"selectul").empty();
					$.each(arows,function(index,value){
						if (role=="replyto")idvalue=value['emailadres'];else idvalue=value['id'];
					//	$("#"+role+"selectul").append('<li onClick="selectperson(this,\''+role+'\','+changenewname+')" value="'+idvalue+'">'+value["naam"]+"</li>");
						$("#"+role+"selectul").append('<li onClick="selectperson(this)" value="'+idvalue+'">'+value["naam"]+"</li>");
					});
					$("#"+role+"selectdiv").css({"display":"block"}); 
				}
				else if (arows.length==1)
				{
					if (role=="replyto")idvalue=arows[0]['emailadres'];else idvalue=arows[0]['id'];
					savenames(arows[0]["naam"],idvalue);
				}
			}
			else alert("Fout: " + result.message);
		}, 
		error: function (result, statusText, jqXHR) {
            alert("Error: ("+statusText+")" + jqXHR );
		},
	}); 
});
function savenames(naam,id)
{
	// replace naam and id:
	if ($("#names"+role).length != 0)
	{
		ids=$("#id"+role).val().split(',');
		chgptr=ids.indexOf('0');
		names=$("#persoon"+role).val().split(',');
		names[chgptr]=naam;
		ids[chgptr]=id;
		//alert("bewaard "+naam+" ids0:"+ids[0]+"; ids:"+ids.toString()+"; chgptr: "+chgptr+"; names:"+names.toString()+"; idsnw:"+ids.toString());
		$("#persoon"+role).val(names.toString());
		$("#id"+role).val(ids.toString());
		$("#names"+role).val(names.toString().toLowerCase());
	}
	else
	{
		$("#persoon"+role).val(naam);
		$("#id"+role).val(id);
	}


}
//function selectperson(e,role,changenewname){
function selectperson(e){
	naam=e.innerText;
	id=e.getAttribute("value");
	//alert("selectperson id:"+e.value);
	savenames(naam,id);
	//selectdiv=$("#"+role+"selectdiv");
	//alert("role:"+role);
	$("#"+role+"selectdiv").hide(); 
} 
</script>